header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid black;
    margin: 10px;
}

li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    
}

.tituloPrincipal{
    width: 1rem;
    text-decoration: none;
}